<!DOCTYPE html>
<html lang=ja>

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>404 Not Found | SkillCard</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lobster&family=Noto+Sans+JP&family=Roboto&display=swap">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  
  <body>
    
    <div class="wrap">

      <!-- ▼ ヘッダー ▼ -->
      <header>
        <div class="header_wrap">
          <div class="logo">
            <a class="logo_link" href="https://nitfc-skillcard.herokuapp.com/">
              <h1 class="logo_text">SkillCard</h1>
            </a>
          </div>
        </div>
      </header>

      <main>
        <h1>ページが見つかりませんでした</h1>
      </main>

    </div>

  </body>
  
</html>